@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
    /* You can adjust this based on your desired margins */
  }

  body {
    padding: 0 !important;
    margin: 0 !important;

    *:not(iframe) {
      display: none !important;
    }
  } 
}
